/* Global styles */

body {
  margin: 0;
  font-family: 'Attractive Heavy', sans-serif;
}

*,
:after,
:before {
  box-sizing: border-box;
}

ul {
  list-style-type: square;
}

.page {
  display: flex;
  flex-direction: column;

  overflow: hidden;
  min-height: 100vh;
}

.container {
  margin: 0 auto;
  max-width: 80%;
  height: 100%;
}

/* First page */

.welcome {
  background-image: linear-gradient(to bottom, rgba(100,120,120,0.52) 0%, rgba(148,187,233,0.75) 100%), url("../img/P7010630.jpg");
  color: white;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.nav__menu {
  background: #e5e5e5;

  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 0.2em;
  margin: 0;
  display: block;
}

#logo__image {
  height: 38px;
  padding: 6px;
}

.welcome_main {
  padding: 20px;
  height: 100vh;

  display: flex;
  justify-content: center;
}

.welcome__text {
  font-size: 5em;
  font-weight: 800;

  margin: auto;
  padding: 40px;

  color: #074173;

  text-align: center;
}

.fancy {
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image:
      url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}

.upside__menu {
  padding: 20px;
}

.upside__menu a {
  margin-right: 20px;

  font-size: 18px;
  font-style: normal;
  color: #074173;
  text-decoration: none;
  text-transform: uppercase;

  transition: color 0.3s linear;
}

.upside__menu a:hover {
  color: blue;
}

/* Skills section */

.skills__section {

}

.skills__block {
  margin: 10px 10px;
  padding: 10px 15px;
}
/* Footer */

.footer {
  background: #e5e5e5;
}

.sites {
  width: 100%;
  text-align: center;

}

.sites__link {

  padding: 0;
  font-size: 14px;
  font-style: italic;
  color: #919191;
  text-decoration: none;
  text-transform: uppercase;

  display: block;
}

.credentials__bottom {
  padding: 0;
  font-size: 12px;
  font-style: normal;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
